@import "includes/fonts";
@import "includes/variables";
@import "includes/functions";

@import "includes/utils";

// //convert px to rem
// @function rem($value) {
// 	$remValue: calc($value / 16) + rem;
// 	@return $remValue;
// }

header {
	background: linear-gradient(
			180deg,
			$color-primary-dark 0%,
			rgba(0, 0, 0, 0) 85%,
			$color-primary-dark 100%
		),
		url(../images/hero_bg.png) center center/cover no-repeat;
	.top-nav {
		background: linear-gradient(
			180deg,
			$color-primary-dark 0%,
			rgba(0, 0, 0, 0) 100%
		);
		color: #fff;
		.container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.logo {
				a {
					color: #fff;
					text-transform: uppercase;
					text-decoration: none;
					font-size: rem(20);
					font-weight: 700;
				}
			}

			.main-nav {
				> ul {
					display: flex;
					gap: 2rem;
					list-style-type: none;

					li {
						display: flex;
						flex-direction: column;

						a {
							display: flex;
							flex-direction: row;
							gap: 1rem;
							color: #fff;
							text-decoration: none;
							position: relative;
							font-size: rem(20);

							&:after {
								content: "";
								height: 2px;
								width: 100%;
								border-radius: 2px;
								background-color: #fff;
								bottom: 0;
								position: absolute;
								transition: 0.3s;
								transform: scale(0);
							}

							&:hover {
								.chevron-down {
									transform: rotate(180deg);
									transition: 0.3s;
								}
								&:after {
									transform: scale(1);
								}
							}
							.chevron-down {
								transition: 0.3s;
							}
						}
					}

					ul {
						display: block;
						height: 200%;
						max-height: 0;
						overflow: hidden;
					}
				}
				@media (max-width: 900px) {
					display: none;
				}
			}
			.lang-select {
				display: flex;
				gap: 1rem;
			}
		}
	}

	.hero {
		.container {
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: rem(16);

			h1,
			h1 span {
				font-family: $font-special;
			}
			h1 {
				font-weight: 400;
				font-size: rem(86);
				color: $color-secondary-dark;
				text-align: center;

				span {
					color: #fff;
					display: block;
					font-size: rem(86);
				}
			}
			.arrow {
				position: absolute;
				bottom: -10%;

				svg {
					width: 100%;
					object-fit: contain;
				}
			}
		}
	}
}

footer {
	background-color: $color-primary-dark;
	color: #fff;
	a {
		color: #fff;
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 2rem;

		> h3 {
			width: 100%;
			margin-bottom: 1rem;
		}

		.contact {
			display: flex;
			flex: 1;
			flex-direction: column;
			gap: 2rem;

			address,
			a {
				font-weight: 300;
				text-decoration: none;
			}
		}
		// }
		.footer-nav {
			flex: 1;
			padding-left: 2rem;
			border-left: 2px solid #fff;
			ul {
				display: flex;
				gap: 1rem;
				flex-direction: column;

				li {
					list-style-type: none;
					width: fit-content;
					display: block;
					a {
						text-decoration: none;
						font-weight: 700;
					}
				}
			}
			.social-links {
				margin-top: 2rem;
				flex-direction: row;
			}
		}
	}
}
