//- jquery
script(src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous")

//- slick slider 1.6
script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")

//- plyr.io
script(src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.7.3/plyr.min.js")

//- wow.js
script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")


//- custom js
script(src="js/common.js")
script(src="js/" + thisPage.name + ".js")