//- jquery
script(src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous")

//- slick slider 1.6
script(src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")

//- custom js
script(src="js/common.js")
script(src="js/" + thisPage.name + ".js")