//- slick slider 1.6
link(rel="stylesheet", href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css") 
link(rel="stylesheet", href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css")



link(rel="stylesheet", href="css/common.css")
link(rel="stylesheet", href="css/" + thisPage.name + ".css")