//- slick slider 1.6
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css") 
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css")

//- plyr.io
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.7.3/plyr.min.css")

//- animate.css
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.compat.min.css")

link(rel="stylesheet", href="css/common.css")
link(rel="stylesheet", href="css/" + thisPage.name + ".css")