//colors
$color-primary-dark: #0a1a38;
$color-primary-light: #0d669b;
$color-secondary-dark: #18abbb;
$color-bg-light: #e1eafc;

//fonts
$font-special: "Silver South", "Urbanist", sans-serif;
$font-regular: "Urbanist", sans-serif;
